[Unit]
Description=STF app
After=rethinkdb-proxy-28015.service
BindsTo=rethinkdb-proxy-28015.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStart=/usr/bin/docker run --rm \
  --name %p-%i \
  --link rethinkdb-proxy-28015:rethinkdb \
  -e "SECRET=super_secret_key" \
  -p %i:3000 \
  openstf/stf:latest \
  stf app --port 3000 \
    --auth-url http://YOUR_MACHINE_IP/auth/mock/ \
    --websocket-url ws://YOUR_MACHINE_IP/
ExecStop=-/usr/bin/docker stop -t 10 %p-%i
